.navbar{
    color: #e5e5e5;
    position: fixed;
    font-size: 0.9rem;
    top: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    transition: background-color .4s;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    line-height: 1.2;
}

.scrolled{
    background-color: var(--main-color);
    transition: background-color .4s;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.container {
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
}

@media screen and (min-width: 1500px){
    .container {
        padding: 0 60px;
    }
}

.left span{
    margin-right: 20px;
    cursor: pointer;
}
.left span:hover{
    color: #b3b3b3;
}

.left,
.right{
    display: flex;
    align-items: center;
}


.left img {
    height: 25px;
    margin-right: 40px;
}

.right img{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.icon {
    margin: 0px 15px;
    cursor: pointer;
}

.iconArrow {
    margin: 0px;
    cursor: pointer;
}

.options{
    display:none;
    background-color: var(--main-color);
    border-radius: 5px;
}

.profile span {
    padding: 10px;
    cursor: pointer;
}

.profile:hover .options{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    top: 60px;
}

.containerOptions{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px;
}
